@page
@model vosplzen.sem1h1.Pages.StudentsModel
@{
}

<h1>Seznam studentů školy</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <label>Řadit dle</label>
        <a asp-page="./Students" asp-route-orderby="lastname">příjmení</a> |
        <a asp-page="./Students" asp-route-orderby="name">jméno</a> |
        <a asp-page="./Students" asp-route-orderby="email">e-mail</a> |
        <a asp-page="./Students" asp-route-orderby="class">třída</a>
    </div>

    <div class="col-md-6 text-right">

        <form method="post" enctype="multipart/form-data">
            <div class="form-group input-group">
                <input class="form-control" placeholder="hledat výraz" />
                <button class="input-group-append btn btn-primary">Hledej</button>
            </div>
        </form>

    </div>
</div>




@if (Model.FilterIsOn)
{
    <div class="row">
        <div class="col-md-6">
            <label>Filtr: </label>
            <a asp-page="./Students">Zruš filtr</a>
        </div>
    </div>


}

<hr />


@foreach (var item in Model.Students)
{
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>Jméno a příjmení</dt>
                <dd>@item.Name @item.Lastname</dd>
                <dt>E-mail</dt>
                <dd>@item.Email</dd>
                <dt>Třída</dt>
                <dd><a asp-page="./Students" asp-route-orderby="lastname" asp-route-classfilterby="@item.Class"> @item.Class</a></dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
}
